@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-platform-navbar-background: #041923;
    --color-platform-hero-background: #020F17;
    --color-platform-verticalNavbar-background: #0D2A38;
    --color-platform-tableElements-background: #0A222C;
    --color-platform-hover: #0F2C38;
    --color-primary: #00a87c;
    --color-accent: #22c55e;
    
}


@layer base {
  * {
    @apply border-border;
    
    }
  body {
    @apply bg-background text-foreground;
    
    }
    
}

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
